.box{
	border-radius: 10px;
	padding: 30px;
	width: 90%;
	margin-left: 5%;
}
.box p{
	margin: 20px 0;
}
.text{
	text-align: center;
}
form div{
	display: flex;
	justify-content: space-between;
	gap: 5px;
	
}

span{
	width: 100%;
}
span input{
	width: 100%;
	padding: 10px;
	margin: 5px 0 20px 0;
	
}
textarea{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	
}
button{
	background-color: #e84e78;
	padding: 10px 30px;
	border-radius: 5px;
	color: white;
	border: none;
	margin-top: 20px;
	align-items: center;
	position: relative;
	margin-left: 45%;
	transition: .5s;
}
button:hover{
	background-color: #15161b;
	cursor: pointer;
	transition: .5s;
}

